<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../public/css/style.css">
    <title>{{pageTitle}}</title>
  </head>
  <body style='background: #6012CC;
  color: white;'>
    {{> header}}
    <h2>{{message}}</h2>
    <ul>
      <li>Name: {{body.name}}</li>
      <li>Age: {{body.age}}</li>
      <li>Gender: {{body.gender}}</li>
    </ul>
    {{> footer }}
  </body>
</html>